<GridLayout>

<GridLayout class="view">

    <ActionBar flat="true" style="background-color: #fff" title="">
        <NavigationButton visibility="collapsed"></NavigationButton>
        <GridLayout columns="*" width="100%">        
            <StackLayout col="0" horizontalAlignment="left" orientation="horizontal" (tap)="goBack()">
                <Image src="~/images/back.png" width="18" class="" ></Image>
                <label  text="{{'Back'| L}}"  style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
            </StackLayout>   
        </GridLayout>
    </ActionBar>


       <GridLayout rows="auto,auto,auto" class="page-layout" style="padding-bottom: 50; ">
            <label row="0" text="{{customTitle}}" class="sign-label" style="margin-top:10"></label>   
            <ActivityIndicator  row="1" class="spin" [busy]="isLoading"></ActivityIndicator>
            <ListView row="2" *ngIf="dataItems.length>0" [height]="screenHeight" [items]="dataItems" loadOnDemandMode="Auto" (loadMoreItems)="onLoadMoreItemsRequested($event)">
                <ng-template let-item="item" let-i="index">
                    <training-program-card [course]="item"></training-program-card>
                </ng-template>
            </ListView>
            <!--<GridLayout style="height: 60;"></GridLayout> -->
        </GridLayout>
</GridLayout>

<GridLayout height="60" verticalAlignment="bottom">
    <GridLayout columns="*, *, *, *, *" height="60" backgroundColor="#f1f1f4">
          <label text="&#xf015;" class="fas menu-icon  " col="0" row="0" [nsRouterLink]="['/highlighted']" height="25" width="25" margin="10" ></label>
          <label text="&#xf002;" class="fas menu-icon menu-active" col="1" row="0" [nsRouterLink]="['/explore']"  height="25" width="25" margin="10"></label>
          <label text="&#xf144;" class="far menu-icon" col="2" row="0" [nsRouterLink]="['/my-products']"  height="25" width="25" margin="10"></label> 
          <label text="&#xf004;" class="fas menu-icon" col="3" row="0" [nsRouterLink]="['/favorites']" height="25" width="25" margin="10"></label> 
          <label text="&#xf406;" class="fas menu-icon" col="4" row="0" [nsRouterLink]="['/account']"  height="25" width="25" margin="10" ></label>
   </GridLayout>
  </GridLayout> 
</GridLayout>
