<ModalStack dismissEnabled="true" class="modal-container">
    <GridLayout class="modal">
        <ScrollView scrollBarIndicatorVisible="false">
          <StackLayout>
          <StackLayout class="forget-back" style="background-color: #CA725B; width: 70; height: 70;" >
            <label text="&#xf00d;" class="fas forget-icon" ></label>
        </StackLayout>
       <Label text="{{'deleteAlert' |L}}" color="#000" style="margin-top: 40px; text-align: center; font-size: 16px;"></Label>
     
       <GridLayout columns="*,*"  style="margin: 30 0;">
        <Button row="0" col="1" text="{{'yes' |L}}" (tap)="closePopupRemove()"style="width: 120;background-color: #CA725B;"
            class="login-btn"></Button>
        <Button row="0" col="0" text="{{'no' |L}}" (tap)="closePopup()" style="width: 120;color: #CA725B;"
            class="login-btn reset-btn"></Button>
    </GridLayout>

      </StackLayout>
      

    </ScrollView>
    </GridLayout>
  </ModalStack> 

<!--   <StackLayout class="popup-container">
    <Label text="{{'deleteAlert' |L}}"></Label>
    <Button text="{{'no' |L}}" (tap)="closePopup()"></Button>
    <Button text="{{'yes' |L}}" (tap)="closePopupRemove()"></Button>

  </StackLayout> -->