<GridLayout class="whiteback">

  <GridLayout verticalAlignment="top" class="top-bar">
    <FlexboxLayout flexDirection="row" alignItems="center" justifyContent="space-between">

      <!--<StackLayout   orientation="horizontal"   alignItems="center"  (tap)="goBack()">
      <Image src="~/images/back.png" width="18" class="" ></Image>
      <label  text="{{'Back'| L}}"  style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;" ></label>
      </StackLayout>-->

      <GridLayout columns="*,*">
        <StackLayout col="0" horizontalAlignment="left" orientation="horizontal" (tap)="goBack()">
          <Image src="~/images/back.png" width="18" class=""></Image>
          <label text="{{'Back'| L}}"
            style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
        </StackLayout>
        <AbsoluteLayout col="1" horizontalAlignment="right"
          [visibility]="globalService.isLoggedIn&&isEthrai ? 'visible' : 'collapsed'"
          [nsRouterLink]="['/shopping-cart']">
          <label text="&#xf07a;" col="0" class="fas" style="font-size: 18px; margin: 8 7; color: #000;"></label>
          <label text="{{globalService.shoppinCartItemsCount}}"
            [visibility]="globalService.shoppinCartItemsCount>0 ? 'visible' : 'collapsed'" col="0"
            class="cart-badge"></label>
        </AbsoluteLayout>
      </GridLayout>

    </FlexboxLayout>
  </GridLayout>

  <!--<PDFViewNg #pdf *ngIf="selectedItem!==undefined && (isAlreadyEnrolled||selectedItem.isAvailableWithoutRegister)&&selectedItem.type=='Pdf'" src="{{url}}" defaultpage="1"></PDFViewNg>
-->

  <ActionBar visability="collapsed" title=""> </ActionBar>

  <GridLayout verticalAlignment="top" style="margin-top: 70;">

    <!-- Text Content -->
    <GridLayout
      *ngIf="selectedItem && (isAlreadyEnrolled || selectedItem?.isAvailableWithoutRegister) && selectedItem?.type=='Text'"
      class="album-image" height="320" style="margin-top: 0; background-color: #f3f4f5; padding: 20;"
      borderRadius="20 20 0 0">
      <Label text="{{selectedItem?.textContent}}"></Label>
    </GridLayout>

    <!-- PDF/Activity Content -->
    <GridLayout height="320"
      *ngIf="selectedItem && (isAlreadyEnrolled || selectedItem?.isAvailableWithoutRegister) && (selectedItem?.type=='Pdf' || selectedItem?.type=='Activity')">
      <WebView src="{{url}}"></WebView>
    </GridLayout>
    <!-- <StackLayout *ngIf="selectedItem!==undefined && (isAlreadyEnrolled||selectedItem.isAvailableWithoutRegister)&&selectedItem.type=='Pdf'"  class="album-image" height="250" style="margin-top: 25;">
  <PDFViewNg   src="{{selectedItem.applicationUrl}}" defaultpage="1"></PDFViewNg>
  </StackLayout>-->

    <!-- REPLACE WITH BLACK IMAGE -->
    <!-- Register to View placeholder (when not enrolled) -->
    <GridLayout class="album-image" height="320" style="margin-top: 0; padding: 20;" width="100%"
      backgroundImage="~/images/black.jpg" borderRadius="20 20 0 0"
      *ngIf="(selectedItem && !isAlreadyEnrolled && !selectedItem?.isAvailableWithoutRegister) || (!selectedItem && !isAlreadyEnrolled && !isLoading)">
      <label text="{{'registertoview'| L}}"
        style="color: #fff;font-size: 15; text-align: center; margin-top: 50;"></label>
    </GridLayout>

    <!-- Video Content -->
    <GridLayout height="320"
      *ngIf="selectedItem?.type === 'Video' && (isAlreadyEnrolled || selectedItem?.isAvailableWithoutRegister)">
      <InlineVideoWebView #videoWebView (loaded)="onLoadFinishedAliBaba($event)" (loadStarted)="onBridgeEvent($event)">
      </InlineVideoWebView>
    </GridLayout>

    <!-- Image Content -->
    <GridLayout
      *ngIf="selectedItem && (isAlreadyEnrolled || selectedItem?.isAvailableWithoutRegister) && selectedItem?.type=='Image'"
      class="album-image" height="320" style="margin-top: 0; background-color: #f3f4f5; padding: 20;"
      borderRadius="20 20 0 0">
      <Image row="0" col="1" src="{{selectedItem?.applicationUrl}}"></Image>
    </GridLayout>

    <!-- assessments-->
    <GridLayout height="320" [ngStyle]="{'backgroundImage':assessmentQuestions? '':'~/images/black.jpg'}"
      *ngIf="selectedItem && (isAlreadyEnrolled || selectedItem?.isAvailableWithoutRegister) && selectedItem?.type=='SelfAssessment'">
      <label *ngIf="!assessmentQuestions" text="{{'assessmentError'| L}}"
        style="color: #fff;font-size: 15; text-align: center; margin-top: 50;"></label>
      <ScrollView>
        <StackLayout *ngIf="assessmentQuestions" class="album-image"
          style="margin-top: 15; background-color: #f3f4f5; padding: 5 20;" borderRadius="20 20 0 0">
          <label *ngIf="!showResult" class="assess" text="{{assessmentQuestionIndex+1}}/{{assessmentQuestionsNo}}"
            style="text-align: right; margin-bottom: -8; font-size: 15;"></label>
          <progress *ngIf="!showResult" value="{{assessmentProgressPercent}}" maxValue="100" color="#1056A5"></progress>
          <label *ngIf="!showResult &&assessmentQuestions &&assessmentQuestions[assessmentQuestionIndex].questionAr!=''"
            class="assess" text="{{assessmentQuestions[assessmentQuestionIndex].questionAr}}"></label>
          <Image
            *ngIf="!showResult &&assessmentQuestions && assessmentQuestions[assessmentQuestionIndex].questionAr==''"
            class="assess" src="{{assessmentQuestions[assessmentQuestionIndex].imageUrl}}"></Image>
          <FlexboxLayout *ngIf="!showResult" flexDirection="row-reverse" justifyContent="space-between" flexWrap="wrap">
            <FlexboxLayout
              [ngClass]="selectedAnswerId==undefined?'answer':selectedAnswerId==answer.id?selectedAnswerId==correctAnswerId?'answer-true select' :'answer-false select':answer.id==correctAnswerId?'answer-true' :'answer-false'"
              *ngFor="let answer of assessmentQuestions[assessmentQuestionIndex].choices" iosOverflowSafeArea="false"
              (tap)="onSelectAnswer(answer.id)" justifyContent="center" alignItems="center">
              <label *ngIf="answer.nameAr" text="{{answer.nameAr}}" style="text-align: center;"></label>
              <Image *ngIf="answer.imageUrl" src="{{answer.imageUrl}}" style="text-align: center;"></Image>
            </FlexboxLayout>
          </FlexboxLayout>

          <!--score-->
          <GridLayout rows="auto,auto,auto" [visibility]="showResult? 'visible' : 'collapsed'">
            <StackLayout row="0" class="forget-back" style="margin-top: 10; width: 80; height: 80;">
              <label text="{{correctAnswersCount}}" style="font-size: 40;" class="fas forget-icon"></label>
            </StackLayout>
            <label row="1" text="{{correctAnswersCount}} {{'trueanswer'| L}} {{assessmentQuestionsNo}}"
              style="font-size: 15;text-align: center;"></label>
            <progress row="2" value="{{correctAnswersPercentage}}" maxValue="100" color="#1056A5"></progress>
            <!--<label row="3" style="font-size: 15; text-align: center;" text="text" ></label> -->
          </GridLayout>
          <!--end score-->
          <Button [visibility]="!showResult? 'visible' : 'collapsed'" [isEnabled]="isQuestionAnswered"
            verticalAlignment="bottom" text="{{'next'| L}}" class="login-btn"
            style="background-color: #1056A5; margin-top: 5;" (tap)="getNextQuestion()"></Button>

        </StackLayout>
      </ScrollView>
    </GridLayout>
    <!-- end assessments-->

  </GridLayout>


  <StackLayout class="page-layout" style="margin-top: 390;">

    <ActivityIndicator [visibility]="isLoading? 'visible' : 'collapsed'" [busy]="isLoading"></ActivityIndicator>

    <!--<StackLayout class="album-image" height="250" style="margin-top: 25;"
          width="100%" backgroundImage="{{course?.course?.logo}}"
          borderRadius="20 20 0 0" *ngIf="selectedItem==undefined && course?.details && !(course?.details[0]?.isAvailableWithoutRegister)">
      </StackLayout>-->




    <!-- end assessments-->

    <MDTabs selectedIndex="1" (selectedIndexChanged)="setSelectedTabIndex($event)">
      <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
      <MDTabStrip>
        <MDTabStripItem>
          <Label text="المحتوى"></Label>
          <!-- <Image src="font://&#xf015;" class="fas"></Image> -->
        </MDTabStripItem>
        <MDTabStripItem class="special">
          <Label text="تفاصيل البرنامج"></Label>
          <!-- <Image src="font://&#xf007;" class="fas"></Image> -->
        </MDTabStripItem>
      </MDTabStrip>

      <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
      <MDTabContentItem>
        <GridLayout>
          <ScrollView style="height: 100%;" class="container" scrollBarIndicatorVisible="false">
            <StackLayout>
              <StackLayout [visibility]="isAlreadyEnrolled? 'visible' : 'collapsed'" class="" style="margin-top: 15;">
                <Label class="course-cate" style="color:#000;font-size: 14;" text="{{'progresspre'| L}}"></Label>
                <label text="{{progressPercentage}}%" style="font-size: 17;text-align: center;"></label>
                <progress value="{{progressPercentage}}" maxValue="100" color="#1056A5"></progress>
                <label class="line" style="margin: 15 0 0;"></label>
              </StackLayout>

              <!-- start first collapse  -->
              <FlexboxLayout flexDirection="column" style="margin-top:50px; ">
                <details-tree [detail]="course?.details" [isEnrolled]="isAlreadyEnrolled" [courseId]="courseId"
                  [tracking]="course?.enrollment?.trackings" [isVideoFinished]="isVideoFinished"
                  [selectedItem]="selectedItem" [isVideoPlayed]="isVideoPlayed"></details-tree>
              </FlexboxLayout>
              <!-- end first collapse  -->


              <GridLayout style="height:100px; margin-bottom: 100px;"></GridLayout>

            </StackLayout>
          </ScrollView>
        </GridLayout>
      </MDTabContentItem>
      <MDTabContentItem>
        <GridLayout>
          <ScrollView style="height: 100%;" scrollBarIndicatorVisible="false">

            <StackLayout>
              <!--course name collapse-->
              <StackLayout style="margin-top: 20;" class="container">

                <!--progress-->

                <FlexboxLayout horizontalAlignment="right" (tap)="clickme(item)"
                  [visibility]="clickedd == item ? 'collapsed' : 'visible'" flexDirection="row"
                  justifyContent="space-between">
                  <GridLayout (tap)="clickme(item)" columns="auto, *" class="bookmark-collapse">
                    <Label col="1" text="&#xf107;" class="fas arr-drop" style="color: #000"></Label>
                    <Label col="1" horizontalAlignment="right" text='{{course?.course?.nameAr}}'
                      class="bookmark-course"></Label>
                  </GridLayout>
                </FlexboxLayout>
                <FlexboxLayout horizontalAlignment="right" [visibility]="clickedd == item ? 'visible' : 'collapsed'"
                  flexDirection="column">
                  <GridLayout (tap)="uclickme(item)" columns="auto, *" class="bookmark-collapse ">
                    <Label col="1" text="&#xf106;" class="fas arr-drop" style="color:#1056A5"></Label>
                    <Label col="1" horizontalAlignment="right" text='{{course?.course?.nameAr}}'
                      class="bookmark-course"></Label>
                  </GridLayout>

                  <Label class="course-cate" style="color:#989bad;font-size: 13;"
                    text="{{getText(course?.course?.summaryAr)}}"></Label>

                </FlexboxLayout>
              </StackLayout>
              <!-- end course name collapse-->

              <label class="line" style="margin: 20 20;"></label>

              <!--autor name -->
              <GridLayout *ngFor="let instructor of course?.instructors" class="cr-list-item" rows="auto"
                columns="*,100" [nsRouterLink]="['/instructor',instructor.id]">
                <Image row="0" col="1" [visibility]="instructor.imageUrl? 'visible' : 'collapsed'"
                  src="{{instructor.imageUrl}}" class="ins-img"></Image>
                <label row="0" col="1" text="&#xf2bd;" class="far " style="font-size: 70px; color: #989BAD;"
                  [visibility]="!instructor.imageUrl? 'visible' : 'collapsed'"></label>

                <StackLayout row="0" col="0" orientation="vertical" style=" margin: 0 10;">
                  <Label class="ins-name" text="{{instructor.fullNameAr}}"></Label>
                  <Label class="ins-desc" text="مدرب"></Label>
                </StackLayout>
              </GridLayout>
              <!-- end autor name -->

              <label class="line" style="margin: 10 20;"></label>

              <!--course data -->
              <FlexboxLayout flexDirection="row-reverse" class="container" alignItems="center"
                justifyContent="space-between">
                <label text="{{'duration'| L}}" class="c-prop"></label>
                <label text="{{intl.format(durationHours)}} ساعة {{intl.format(durationMinutes)}} دقيقة"
                  class="c-val plainfont"></label>
              </FlexboxLayout>
              <FlexboxLayout flexDirection="row-reverse" class="container" alignItems="center"
                justifyContent="space-between">
                <label text="{{'level'| L}}" class="c-prop"></label>
                <label text="{{course?.course?.level | L}}" class="c-val plainfont"></label>
              </FlexboxLayout>
              <FlexboxLayout flexDirection="row-reverse" class="container" alignItems="center"
                justifyContent="space-between">
                <label text="{{'dateofpublication'| L}}" class="c-prop"></label>
                <label text="{{publishDate}}" class="c-val plainfont"></label>
              </FlexboxLayout>
              <!--   <FlexboxLayout flexDirection="row-reverse" class="container"   alignItems="center" justifyContent="space-between">
                <label  text="{{'language'| L}}" class="c-prop" ></label>
                <label  text="العربية " class="c-val plainfont" ></label>
              </FlexboxLayout>
              <FlexboxLayout flexDirection="row-reverse" class="container"   alignItems="center" justifyContent="space-between">
                <label  text="{{'subtitle'| L}}" class="c-prop" ></label>
                <label  text="العربيه , English" class="c-val plainfont" ></label>
              </FlexboxLayout>
              <FlexboxLayout flexDirection="row-reverse" class="container"   alignItems="center" justifyContent="space-between">
                <label  text="{{'dateofpublication'| L}}" class="c-prop" ></label>
                <label  text="{{course.course?.publishDate | date:'short'}}" class="c-val plainfont" ></label>
              </FlexboxLayout>-->
              <!-- end course data -->

              <label class="line" style="margin: 20 20;"></label>

              <!--course tag -->
              <label text="{{'aquiredc'| L}}" class="c-prop container"></label>
              <FlexboxLayout class="container" flexDirection="row-reverse" alignItems="center"
                justifyContent="flex-start" flexWrap="wrap">
                <label text="{{item.nameAr}}" class="cate-tags-light" *ngFor="let item of skills"></label>
              </FlexboxLayout>
              <!-- end course tag -->

              <label *ngIf="skills.length>0" class="line" style="margin: 20 20;"></label>

              <!--course contains -->
              <label text="{{'progcontain'| L}}" class="c-prop container"></label>
              <FlexboxLayout *ngIf="course?.course?.detailTreeStats?.unitsCount>0" flexDirection="row-reverse"
                class="container" alignItems="center" justifyContent="flex-start">
                <label text="&#xf111;" class="fas dots"></label>
                <label text="{{intl.format(course?.course?.detailTreeStats?.unitsCount)}} من الوحدات"
                  class="c-val plainfont"></label>
              </FlexboxLayout>
              <FlexboxLayout *ngIf="course?.course?.detailTreeStats?.activitiesCount>0" flexDirection="row-reverse"
                class="container" alignItems="center" justifyContent="flex-start">
                <label text="&#xf111;" class="fas dots"></label>
                <label text="{{intl.format(course?.course?.detailTreeStats?.activitiesCount)}} من الأنشطة"
                  class="c-val plainfont"></label>
              </FlexboxLayout>
              <FlexboxLayout *ngIf="course?.course?.detailTreeStats?.assessmentsCount>0" flexDirection="row-reverse"
                class="container" alignItems="center" justifyContent="flex-start">
                <label text="&#xf111;" class="fas dots"></label>
                <label text="{{intl.format(course?.course?.detailTreeStats?.assessmentsCount)}} من التقييمات"
                  class="c-val plainfont"></label>
              </FlexboxLayout>
              <FlexboxLayout *ngIf="course?.course?.detailTreeStats?.trainingCasesCount>0" flexDirection="row-reverse"
                class="container" alignItems="center" justifyContent="flex-start">
                <label text="&#xf111;" class="fas dots"></label>
                <label text="{{intl.format(course?.course?.detailTreeStats?.trainingCasesCount)}} من الحالات التدريبية "
                  class="c-val plainfont"></label>
              </FlexboxLayout>


              <label class="line" style="margin: 20 20;"></label>
              <!--end course contains -->

              <!--what you learn collapse -->
              <StackLayout class="container" *ngIf="course?.whatWillLearn?.length>0">
                <FlexboxLayout horizontalAlignment="right" (tap)="clickme1(item)"
                  [visibility]="clickedd1 == item ? 'collapsed' : 'visible'" flexDirection="row"
                  justifyContent="space-between">
                  <GridLayout (tap)="clickme1(item)" columns="auto, *" class="bookmark-collapse">
                    <Label col="1" text="&#xf107;" class="fas arr-drop" style="color: #000"></Label>
                    <Label col="1" horizontalAlignment="right" text="{{'whatyoulearn'| L}}"
                      class="bookmark-course"></Label>
                  </GridLayout>
                </FlexboxLayout>
                <FlexboxLayout horizontalAlignment="right" [visibility]="clickedd1 == item ? 'visible' : 'collapsed'"
                  flexDirection="column">
                  <GridLayout (tap)="uclickme1(item)" columns="auto, *" class="bookmark-collapse ">
                    <Label col="1" text="&#xf106;" class="fas arr-drop" style="color:#1056A5"></Label>
                    <Label col="1" horizontalAlignment="right" text="{{'whatyoulearn'| L}}"
                      class="bookmark-course"></Label>
                  </GridLayout>

                  <Label class="course-cate" style="color:#989bad;font-size: 13;"
                    *ngFor="let item of course?.whatWillLearn" text="{{item.titleAr}}"></Label>

                  <!--course module collapse -->
                  <!-- <ScrollView>
                      <StackLayout class="container">
                        <FlexboxLayout  horizontalAlignment="right" (tap)="clickme(item)" [visibility]="clickedd == item ? 'collapsed' : 'visible'" flexDirection="row" justifyContent="space-between">
                            <GridLayout    (tap)="clickme(item)" columns="auto, *" class="bookmark-collapse">
                                <Label col="1" text="&#xf107;"   class="fas arr-drop" style="color: #000;font-size: 16;"></Label>
                                <Label col="1"  horizontalAlignment="right" text="module name" class="bookmark-course" style="font-size: 15;"></Label>
                            </GridLayout>
                        </FlexboxLayout>
                        <FlexboxLayout  horizontalAlignment="right"  [visibility]="clickedd == item ? 'visible' : 'collapsed'" flexDirection="column">
                            <GridLayout (tap)="uclickme(item)" columns="auto, *" class="bookmark-collapse ">
                                <Label col="1" text="&#xf106;"  class="fas arr-drop" style="color:#1056A5;font-size: 16;" ></Label>
                                <Label col="1"  horizontalAlignment="right" text="module name" class="bookmark-course" style="font-size: 15;"></Label>
                            </GridLayout>

                            <FlexboxLayout flexDirection="row-reverse" class="container"  alignItems="center" justifyContent="flex-start">
                              <label text="&#xf111;" class="fas dots" ></label>
                              <label  text="مقدمة" class="c-val plainfont" ></label>
                            </FlexboxLayout>
                            <FlexboxLayout flexDirection="row-reverse" class="container"  alignItems="center" justifyContent="flex-start">
                              <label text="&#xf111;" class="fas dots" ></label>
                              <label  text="اساسيات" class="c-val plainfont" ></label>
                            </FlexboxLayout>

                        </FlexboxLayout>

                      </StackLayout>
                      </ScrollView>-->
                  <!-- end course module collapse -->

                </FlexboxLayout>
              </StackLayout>
              <!-- end what you learn collapse -->

              <label *ngIf="course?.whatWillLearn?.length>0" class="line" style="margin: 20 20;"></label>
              <!--course reviews collapse -->
              <StackLayout class="container">
                <FlexboxLayout horizontalAlignment="right" (tap)="clickme1(item)"
                  [visibility]="clickedd1 == item ? 'collapsed' : 'visible'" flexDirection="row"
                  justifyContent="space-between">
                  <GridLayout (tap)="clickme1(item)" columns="auto, *" class="bookmark-collapse">
                    <Label col="1" text="&#xf107;" class="fas arr-drop" style="color: #000"></Label>
                    <Label col="1" horizontalAlignment="right" text="{{'reviews'| L}}" class="bookmark-course"></Label>
                  </GridLayout>
                </FlexboxLayout>
                <FlexboxLayout horizontalAlignment="right" [visibility]="clickedd1 == item ? 'visible' : 'collapsed'"
                  flexDirection="column">
                  <GridLayout (tap)="uclickme1(item)" columns="auto, *" class="bookmark-collapse ">
                    <Label col="1" text="&#xf106;" class="fas arr-drop" style="color:#1056A5"></Label>
                    <Label col="1" horizontalAlignment="right" text="{{'reviews'| L}}" class="bookmark-course"></Label>
                  </GridLayout>


                  <ScrollView orientation="horizontal" class="rtl" scrollBarIndicatorVisible="false">
                    <StackLayout orientation="horizontal">
                      <StackLayout *ngFor="let feed of feedbacks" iosOverflowSafeArea="false"
                        flexDirection="row-reverse" class="review-back rtl" width="250" alignItems="center"
                        justifyContent="space-between" flexWrap="wrap">
                        <label text="{{feed.createdBy?.fullNameAr}}" class="c-prop"></label>
                        <FlexboxLayout *ngIf="feed?.rating && feed.rating > 0" flexDirection="row-reverse"
                          style="margin: 8 0;" alignItems="center" justifyContent="flex-start">
                          <label text="&#xf005;" class="fas rate-icon"
                            *ngFor="let i of [].constructor(feed.rating > 0 ? Math.round(feed.rating) : 0)"></label>
                        </FlexboxLayout>
                        <FlexboxLayout *ngIf="!feed?.rating || feed.rating <= 0" flexDirection="row-reverse"
                          style="margin: 8 0;" alignItems="center" justifyContent="flex-start">
                          <label text="&#xf005;" class="far rate-icon" *ngFor="let i of [].constructor(5)"></label>
                        </FlexboxLayout>
                        <label text="{{feed.description}}" class="c-val"></label>
                      </StackLayout>
                      <Label text="{{'noFeedback'|L}}" class="rtl" *ngIf="feedbacks?.length==0"></Label>


                    </StackLayout>
                  </ScrollView>


                </FlexboxLayout>
              </StackLayout>
              <!-- end course reviews collapse -->

              <label class="line" style="margin: 20 20;"></label>

              <FlexboxLayout (tap)="shareCourse()" flexDirection="row-reverse" class=" container" alignItems="center"
                justifyContent="space-between" flexWrap="wrap">
                <label text="{{'sharecourse'| L}}" class="acc-sett" style="font-size: 16;"></label>
                <label text="&#xf1e0;" class="fas menu-icon" style="color:#1056A5 ; font-size: 18;"></label>
              </FlexboxLayout>

              <label class="line" style="margin: 20 20;"></label>

              <label [visibility]="similarCourses?.length>0? 'visible' : 'collapsed'" text="{{'similarcourse' |L}}"
                class="sign-label container" style="margin-top:0;font-size: 14;"></label>

              <!-- similar course  -->
              <ScrollView *ngIf="showSimilarCourse" orientation="horizontal" scrollBarIndicatorVisible="false"
                class="container" style="margin-bottom: 100; transform: scaleX(-1.0)">
                <StackLayout orientation="horizontal">
                  <GridLayout rows="auto,auto" class="course-block rtl" *ngFor="let item of similarCourses"
                    iosOverflowSafeArea="false">
                    <GridLayout row="0" class="album-image" height="100" (tap)="goToCourse(item.id,item)" width="180"
                      backgroundImage="{{item.imageUrl}}" borderRadius="10 10 0 0">
                    </GridLayout>
                    <label class=" fav-icon fas" horizontalAlignment="right" text="&#xf004;" width="26" height="26"
                      style=" font-size: 18; vertical-align: top; z-index: 99999;"
                      [ngClass]="item &&item.isFavorite ? 'fav-blue' : 'fav-white'"
                      (tap)="toggleFavorite(item.id,item,course?.course?.isFavorite)"> </label>

                    <StackLayout row="1" class="course-details" (tap)="goToCourse(item.id,item)">
                      <Label textWrap="false" class="course-na" text="{{item.nameAr}}"></Label>
                      <FlexboxLayout *ngIf="item?.rating && item.rating > 0" flexDirection="row-reverse"
                        alignItems="center" justifyContent="flex-start">
                        <label text="&#xf005;" class="fas rate-icon"
                          *ngFor="let i of [].constructor(item.rating > 0 ? Math.round(item.rating) : 0)"></label>
                        <label *ngIf="item.numberOfRatings" text="({{intl.format(item.numberOfRatings)}})"
                          style="color: #777; margin: 0 4; font-weight: 600;"></label>
                      </FlexboxLayout>
                      <FlexboxLayout *ngIf="!item?.rating || item.rating <= 0" flexDirection="row-reverse"
                        alignItems="center" justifyContent="flex-start">
                        <label text="&#xf005;" class="far rate-icon" *ngFor="let i of [].constructor(5)"></label>
                      </FlexboxLayout>
                      <Label class="course-cate" text="{{item.categoryNameAr}}"></Label>
                      <FlexboxLayout flexDirection="row-reverse" alignItems="center" justifyContent="space-between">
                        <price-template [applePrice]="item.applePrice" [androidPrice]="item.price"></price-template>

                        <!-- <AnimatedCircle *ngIf="item.attendedSeconds &&item.attendedSeconds&lt;item.numberOfSeconds" backgroundColor="transparent" width="25" height="25" animated="true" animateFrom="0" rimColor="#1056A5" barColor="#999" rimWidth="6"  [progress]="getCourseProgressPercent(item.attendedSeconds,item.numberOfSeconds)" text="%{{getCourseProgressPercent(item.attendedSeconds,item.numberOfSeconds)}}" textSize="20" textColor="#1056A5"></AnimatedCircle> -->
                        <Label *ngIf="item.attendedSeconds &&item.attendedSeconds&lt;item.numberOfSeconds"
                          text="{{getCourseProgressPercent(item.attendedSeconds,item.numberOfSeconds)}}"
                          class="fas cert" style="font-size: 13;"></Label>

                        <Label text="&#xf559;" class="fas cert"
                          *ngIf="item?.numberOfSeconds &&item?.attendedSeconds>=item?.numberOfSeconds"></Label>
                      </FlexboxLayout>
                    </StackLayout>
                  </GridLayout>

                </StackLayout>
              </ScrollView>

              <!-- end similar course  -->

            </StackLayout>

          </ScrollView>
        </GridLayout>
      </MDTabContentItem>
    </MDTabs>



  </StackLayout>

  <GridLayout verticalAlignment="bottom" columns="auto, *"
    *ngIf="(selectedTabIndex==1 && isAlreadyEnrolled)|| !isAlreadyEnrolled"
    style="background-color: #fff; padding: 10 20;" class="iosstyle">
    <StackLayout col="1" verticalAlignment="bottom">
      <Button *ngIf="!course?.course?.isFeedBackSubmitted && course?.enrollment?.status === 'Success'"
        text="{{'addreview' | L}}" class="login-btn" style="background-color: #1056A5; margin-top: 5;"
        (tap)="openCourseRatingModal()"></Button>
      <Button
        *ngIf="course?.course?.isFeedBackSubmitted && !course?.course?.isSurveyAnswered && course?.enrollment?.status === 'Success'"
        text="{{'اكمل الاستبيان'}}" class="login-btn" style="background-color: #1056A5; margin-top: 5;"
        (tap)="openSurveyModal()"></Button>
      <Button *ngIf="showCartButton" text="{{'AddTocart' | L}} {{course?.course?.amountWithVat}} ر.س" class="login-btn"
        style="background-color: #1056A5;" (tap)="addToShoppingCart()"></Button>
      <Button *ngIf="showCertificateButton" text="{{'downloadCertificate' | L}}" class="login-btn"
        style="background-color: #1056A5;" (tap)="downloadCertificate()"></Button>
      <Button *ngIf="showEnrollButton" text="{{'startCourse' | L}}" class="login-btn" style="background-color: #1056A5;"
        (tap)="enrollInCourse()"></Button>
      <Button *ngIf="showWaitCertificateButton" text="{{'CertReadySoon' | L}}" class="login-btn"
        style="background-color: #1056A5;" (tap)="waitCertificate()"></Button>
      <Button *ngIf="isAlreadyInCart" text="{{'AddedToCart' | L}}" class="login-btn" style="background-color: #1056A5;"
        (tap)="goToShoppingCart()"></Button>
      <Button *ngIf="showWaitButton" text="فى انتظار الدفع" class="login-btn" style="background-color: #1056A5;"
        isEnabled="false"></Button>
      <Button *ngIf="showAppleBuyButton" text="{{ 'buy' | L}}" class="login-btn" style="background-color: #1056A5;"
        (tap)="queryProducts()" [isEnabled]="!isQueryProduct"></Button>
      <Button *ngIf="showProcessingButton" text="{{'proceessing' |L}}" class="login-btn"
        style="background-color: #1056A5;" isEnabled="false"></Button>
      <Label *ngIf="isAndroid"></Label>
    </StackLayout>
    <label col="0" horizontalAlignment="center" text="&#xf004;" [ngClass]="course?.course?.isFavorite ? 'fas' : 'far'"
      style="color: #1056A5; margin-top: 5; font-size: 25; width: 40; height: 40; margin: 0 20 0 0"
      (tap)="toggleFavorite(courseId, course?.course, course?.course?.isFavorite)"> </label>

  </GridLayout>
</GridLayout>