<GridLayout class="whiteback">
  <ActionBar flat="true" style="background-color: #fff;" title="">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="*" width="100%">
      <Label col="0" text="{{'mycertificates'| L}}" class="page-title text-center"></Label>
      <StackLayout col="0" horizontalAlignment="left" orientation="horizontal" (tap)="goBack()">
        <Image src="~/images/back.png" width="18" class=""></Image>
        <label text="{{'Back'| L}}" style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
      </StackLayout>
      <Image col="0" [nsRouterLink]="['/filter','certsFilter']" horizontalAlignment="right" style="margin: 0 10;"
        src="~/images/filter.png" width="22"></Image>
    </GridLayout>
  </ActionBar>

  <ScrollView scrollBarIndicatorVisible="false">

    <StackLayout class="page-layout container">

      <label text="{{'mycertificates' | L}}" class="sign-label" style="margin-top:0"></label>

      <ActivityIndicator class="spin" [busy]="isLoading"></ActivityIndicator>
      <GridLayout *ngFor="let cert of certs" style="margin:10 0;" rows="auto" columns="*,100">
        <StackLayout row="0" col="2" class="album-image" backgroundImage="{{cert.logo}}" verticalAlignment="top"
          style=" border-radius: 10; width: 100; height: 100;">
          <!-- <Image row="0" col="1"  src="{{cert.logo}}" class="certi-img"></Image>   -->
        </StackLayout>
        <StackLayout row="0" col="0" orientation="vertical" style="margin: 0 10 0 0;">
          <GridLayout rows="auto , auto" class="" columns="auto, *">
            <Label row="0" col="1" class="course-na" text="{{cert.nameAr}}"></Label>
            <label row="0" col="0" class=" path-icon fas" text="&#xf1e0;"
              style="color:#1056A5;font-size: 23; width: 36; height: 36;" (tap)="shareCertificate(cert)"> </label>
            <Label row="1" col="1" horizontalAlignment="right" class="path-date"
              text="{{getDate(cert.certificateDate)}}" style="font-size: 14;"></Label>
            <label row="1" col="0" class=" path-icon far" text="&#xf358;"
              style="color:#1056A5 ;font-size: 24;  width: 36; height: 36;" (tap)="downloadCertificate(cert)"> </label>
          </GridLayout>
          <!-- <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" alignItems="center" justifyContent="space-between">
            <Label class="course-na" text="{{cert.nameAr}}"></Label>
            <label  class=" path-icon fas" text="&#xf1e0;" style="color:#1056A5;font-size: 18;" (tap)="shareCertificate(cert.url)"> </label>
         </FlexboxLayout>
         <FlexboxLayout flexDirection="row-reverse" flexWrap="wrap" alignItems="center" justifyContent="space-between">
            <Label class="path-date" text="{{cert.certificateDate | date:'short'}}" style="font-size: 14;"></Label>
            <label  class=" path-icon far" text="&#xf358;" style="color:#1056A5 ;font-size: 18;" (tap)="downloadCertificate(cert.url)"> </label>
        </FlexboxLayout> -->

        </StackLayout>
      </GridLayout>

      <Label text="{{'NoCertificatesYet' | L}}" *ngIf="certs.length==0 && !isLoading"></Label>


      <GridLayout style="height: 60;">
      </GridLayout>

    </StackLayout>
  </ScrollView>
  <GridLayout height="80" verticalAlignment="bottom">
    <GridLayout verticalAlignment="bottom" height="60" backgroundColor="#f1f1f4">
    </GridLayout>
    <GridLayout columns="*, *, *, *, *">
      <label text="&#xf015;" class="fas menu-icon " col="0" row="0" [nsRouterLink]="['/highlighted']"></label>
      <label text="&#xf002;" class="fas menu-icon" col="1" row="0" [nsRouterLink]="['/explore']"></label>
      <label text="&#xf144;" class="far menu-icon" col="2" row="0" [nsRouterLink]="['/my-products']"></label>
      <label text="&#xf004;" class="fas menu-icon" col="3" row="0" [nsRouterLink]="['/favorites']"></label>
      <StackLayout class="menu-active" col="4" row="0">
        <label text="&#xf406;" class="fas" [nsRouterLink]="['/account']"></label>
      </StackLayout>
    </GridLayout>

  </GridLayout>
</GridLayout>