<GridLayout>

<GridLayout class="view">

    <ActionBar  flat="true" style="background-color: #fff;" title="">
        <NavigationButton visibility="collapsed"></NavigationButton>
        <GridLayout columns="*" width="100%">  
          <Label col="0" text="{{'notification'| L}}"  class="page-title text-center"></Label>      
            <StackLayout col="0" horizontalAlignment="left" orientation="horizontal" (tap)="goBack()">
                <Image src="~/images/back.png" width="18" class="" ></Image>
                <label  text="{{'Back'| L}}"  style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
            </StackLayout>  
        </GridLayout>
    </ActionBar>

     <ScrollView  scrollBarIndicatorVisible="false">
       <StackLayout class="page-layout">
           
       <!--     <FlexboxLayout flexDirection="row" style="margin-top: 45;"  alignItems="center" justifyContent="space-between">

            <FlexboxLayout flexDirection="row-reverse"  alignItems="center" justifyContent="flex-end" (tap)="goBack()">
                <label  text="{{'Back'| L}}"  style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
                <Image src="~/images/back.png" width="18" class="" ></Image>
            </FlexboxLayout>

           </FlexboxLayout> -->


           <StackLayout class="" style="margin-top: 0;">
           <!--  <label  text="{{'notification'| L}}"  class="acc-head" style="margin-top: 20;" ></label>
            <label class="line"></label> -->
            <FlexboxLayout  flexDirection="row-reverse" class="acc-line" alignItems="center" justifyContent="space-between" flexWrap="wrap">
                <label  text="{{'emailnotifi'| L}}" class="acc-sett"></label>
                <Switch [checked]="profile.settings.disableEmailNotification" #CB (checkedChange)="CB.checked !== profile.settings.disableEmailNotification && onCheckedChange($event,'mail')"> </Switch>
            </FlexboxLayout>
            <FlexboxLayout  flexDirection="row-reverse" class="acc-line" alignItems="center" justifyContent="space-between" flexWrap="wrap">
                <label  text="{{'pushnotifi'| L}}" class="acc-sett"></label>
                <Switch [checked]="profile.settings.disableNotification" #CB1 (checkedChange)="CB1.checked !== profile.settings.disableEmailNotification && onCheckedChange($event,'notifications')"> </Switch>
            </FlexboxLayout>
            <!--<FlexboxLayout  flexDirection="row-reverse" class="acc-line" alignItems="center" justifyContent="space-between" flexWrap="wrap">
                <label  text="{{'quiznotifi'| L}}" class="acc-sett"></label>
                <Switch checked="true" (checkedChange)="onCheckedChange($event,'quiz')"> </Switch>
               </FlexboxLayout>-->
           </StackLayout>

           <label class="line"></label>


           <StackLayout class="" style="margin-bottom: 60;">
            <label  text="{{'newno'| L}}"  class="acc-head" style="margin-top: 20;" ></label>
           <ActivityIndicator class="spin" [busy]="isLoading"></ActivityIndicator>
            <StackLayout *ngFor="let notification of unReadNotifications" style="padding: 0; padding-bottom: 20;" flexDirection="row-reverse" class="notifi-back" alignItems="center" justifyContent="space-between" flexWrap="wrap">
                <label class=" " horizontalAlignment="left"
                style=" width: 38px; height: 38px; border-radius: 100%; border-width: 2; border-color: #fff; background-color: #1056A5; z-index: 99999;"> </label>
               
                <label  text="{{notification.created | date:'short'}}" class="acc-sett" style="color: #989BAD; text-align: right; margin: 0 20; margin-top: 5;"></label>
                <label  text="{{notification.body}}" class="acc-sett" style="margin: 0 20;"></label>
               
            </StackLayout>


            <!-- <label  text="{{'previous'| L}}"  class="acc-head" style="margin-top: 20;" ></label> -->
            <!-- <ActivityIndicator [busy]="isLoading"></ActivityIndicator> -->
            <StackLayout *ngFor="let notification of readNotifications" flexDirection="row-reverse" class="notifi-back" alignItems="center" justifyContent="space-between" flexWrap="wrap">
                <label  text="{{notification.created | date:'short'}}" class="acc-sett" style="color: #989BAD; text-align: right;"></label>
                <label  text="{{notification.body}}" class="acc-sett"></label>
            </StackLayout>

           </StackLayout>

    </StackLayout>
  </ScrollView>
</GridLayout>
<GridLayout height="80" verticalAlignment="bottom">
    <GridLayout verticalAlignment="bottom" height="60" backgroundColor="#f1f1f4">
    </GridLayout>
    <GridLayout columns="*, *, *, *, *">
        <label text="&#xf015;" class="fas menu-icon " col="0" row="0" [nsRouterLink]="['/highlighted']"></label>
        <label text="&#xf002;" class="fas menu-icon" col="1" row="0"  [nsRouterLink]="['/explore']"></label>
        <label text="&#xf144;" class="far menu-icon" col="2" row="0" [nsRouterLink]="['/my-products']" ></label>
        <label text="&#xf004;" class="fas menu-icon" col="3" row="0" [nsRouterLink]="['/favorites']" ></label>
        <StackLayout class="menu-active"  col="4" row="0">
            <label text="&#xf406;" class="fas" [nsRouterLink]="['/account']"></label>
        </StackLayout>
    </GridLayout>
  
</GridLayout> 

</GridLayout>

