<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90446054627-q3b2dkbjnn3o0c9m457libv4g9thi212.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90446054627-q3b2dkbjnn3o0c9m457libv4g9thi212</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90446054627-fdmvmfvqnagmtg74ul70r2t4g0hd4a45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqSLFqBS7GRYNwP5oJIwOyxJLXMSdyS20</string>
	<key>GCM_SENDER_ID</key>
	<string>90446054627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.ethrai-mobile.app</string>
	<key>PROJECT_ID</key>
	<string>ethrai-54616</string>
	<key>STORAGE_BUCKET</key>
	<string>ethrai-54616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90446054627:ios:60945cfddccdc40d49b1d6</string>
</dict>
</plist>