
<GridLayout class="view" >
    
    <ActionBar  visability="collapsed"  class="view" title="">   </ActionBar>    
   
      

          <FlexboxLayout class="box-ani" verticalAlignment="center" horizontalAlignment="center" 
           style=" width:35;height: 35; background-color:#17204D;" >
        </FlexboxLayout >  

        <FlexboxLayout class="log-ani"  verticalAlignment="center" horizontalAlignment="center" style="width: 65%;" >
          <Image src="~/images/logo-splash.png" class="" ></Image>
        </FlexboxLayout>

     <!--    <StackLayout class="login-page" style="margin-top:165;">

        <StackLayout>
          <label  text="Sign in" class="sign-label"></label>
          <Button text="Sign in by E-mail or ID" [nsRouterLink]="['/login-by-mail']" class="login-btn"></Button>
      </StackLayout>

      <label text="or" class="or-label"></label>

      <StackLayout>
          <GridLayout class="border-login" rows="auto,auto" columns="100,*">
              <label text="&#xf179;" class="fab t-18" style="font-size: 25;"></label>
              <label row="0" col="1" text="Sign in by Apple" class=""></label>
            </GridLayout>

            <GridLayout class="border-login" rows="auto,auto" columns="100,*">
               <Image row="0" col="0" class="face-log" src="~/images/facebook.png"></Image>
              <label row="0" col="1" text="Sign in by Facebook" class=" "></label>
            </GridLayout>

            <GridLayout class="border-login" rows="auto,auto" columns="100,*">
               <Image row="0" col="0" class="face-log" src="~/images/google.png"></Image> 
              <label row="0" col="1" text="Sign in by Google" class=""></label>
            </GridLayout>

        
      </StackLayout>

       
      <StackLayout>
          <label  text="Don’t have an account?" class="d-account" [nsRouterLink]="['/register']"></label>
      </StackLayout>

      <StackLayout>
          <label  text="Enter as a guest" class="guest"></label>
      </StackLayout>

      </StackLayout> -->

          
  
  </GridLayout>