<GridLayout>

    <GridLayout class="view">

        <ActionBar flat="true" style="background-color: #fff" title="" *ngIf="!isEmbedded">
            <NavigationButton visibility="collapsed"></NavigationButton>
            <GridLayout columns="*" width="100%">
                <StackLayout col="0" horizontalAlignment="left" orientation="horizontal" (tap)="goBack()">
                    <Image src="~/images/back.png" width="18" class=""></Image>
                    <label text="{{'Back'| L}}"
                        style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
                </StackLayout>
            </GridLayout>
        </ActionBar>

        <GridLayout rows="auto,auto,auto, auto,auto ,auto ,auto">
            <label row="0" text="المكتبة الرقمية" class="sign-label" style="margin-top:10"></label>
            <ScrollView row="1" orientation="horizontal" class="rtl" scrollBarIndicatorVisible="false">
                <FlexboxLayout alignItems="center" width="500" justifyContent="flex-start" flexWrap="wrap">
                    <!-- hidden from production -->
                    <!-- <label (tap)="selectType('CASESESTUDY')" text="حالات دراسية" class=" rtl"
                        [ngClass]="{'cate-tags-active' :type==='CASESESTUDY' , 'cate-tags':type!=='CASESESTUDY'}"></label> -->
                    <label (tap)="selectType('TRAININGGAME')" text="ألعاب تدريبة " class=" rtl"
                        [ngClass]="{'cate-tags-active' :type==='TRAININGGAME' , 'cate-tags':type!=='TRAININGGAME'}"></label>
                    <label (tap)="selectType('INTERACTIVEEX')" text="تمارين تفاعلية " class=" rtl"
                        [ngClass]="{'cate-tags-active' :type==='INTERACTIVEEX' , 'cate-tags':type!=='INTERACTIVEEX'}"></label>
                    <label [nsRouterLink]="['/interactive-training-list']" text="تدريبات تفاعلية"
                        class="cate-tags rtl"></label>
                </FlexboxLayout>
            </ScrollView>

            <label row="2" text="{{'ourCategories'| L}}" class="sign-label" style="margin-top:15"></label>
            <!-- <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible':'collapse'"></ActivityIndicator> -->
            <ScrollView row="3" orientation="horizontal" class="rtl" scrollBarIndicatorVisible="false">
                <FlexboxLayout alignItems="center" width="1000" justifyContent="flex-start" flexWrap="wrap">
                    <label (tap)="search('123')" text="جميع المجالات"
                        [ngClass]="{'cate-tags-active' : convertedCategoryId==selectedSubCategoryId , 'cate-tags':convertedCategoryId==0}"
                        class=" rtl"></label>


                    <label text="{{category.nameAr}}" *ngFor="let category of categories;let i=index"
                        [ngClass]="{'cate-tags-active' : category.id==selectedSubCategoryId , 'cate-tags':category.id!=selectedSubCategoryId}"
                        (tap)="search(category.id)" class=" rtl "></label>
                </FlexboxLayout>


            </ScrollView>


            <ActivityIndicator row="4" class="spin" [busy]="isLoading"></ActivityIndicator>
            <Label row="5" text="{{'NoFilterResults'|L}}"
                style="text-align: center; font-size: 16px; color: #1056A5;  padding: 15; margin-top:20;"
                *ngIf="allData?.length ==0 && !isLoading"></Label>

            <ListView row="5" style="padding-bottom: 50;" [height]="screenHeight" *ngIf="dataItems.length"
                [items]="dataItems" loadOnDemandMode="Auto" (loadMoreItems)="onLoadMoreItemsRequested($event)">

                <ng-template tkListItemTemplate let-item="item" let-i="index">
                    <training-resources-card [data]="item" [type]="type"
                        [isDigitalLibrary]="true"></training-resources-card>
                </ng-template>
            </ListView>
            <GridLayout row="6" style="height: 60;">

            </GridLayout>
        </GridLayout>
    </GridLayout>

    <GridLayout height="60" verticalAlignment="bottom" *ngIf="!isEmbedded">
        <GridLayout columns="*, *, *, *, *" height="60" backgroundColor="#f1f1f4">
            <label text="&#xf015;" class="fas menu-icon  " col="0" row="0" [nsRouterLink]="['/highlighted']" height="25"
                width="25" margin="10"></label>
            <label text="&#xf002;" class="fas menu-active" col="1" row="0" [nsRouterLink]="['/explore']" height="25"
                width="25" margin="10"></label>
            <label text="&#xf144;" class="far menu-icon" col="2" row="0" [nsRouterLink]="['/my-products']" height="25"
                width="25" margin="10"></label>
            <label text="&#xf004;" class="fas menu-icon" col="3" row="0" [nsRouterLink]="['/favorites']" height="25"
                width="25" margin="10"></label>
            <label text="&#xf406;" class="fas menu-icon" col="4" row="0" [nsRouterLink]="['/account']" height="25"
                width="25" margin="10"></label>
        </GridLayout>
    </GridLayout>
</GridLayout>