<StackLayout orientation="horizontal" horizontalAlignment="center" class="saudi-divider">
    <!-- Dot Cluster 1 -->
    <GridLayout class="saudi-dots" width="22" height="22" rows="*,*,*" columns="*,*,*" verticalAlignment="middle">
        <Label row="0" col="1" class="saudi-dot"></Label>
        <Label row="1" col="0" class="saudi-dot"></Label>
        <Label row="1" col="2" class="saudi-dot"></Label>
        <Label row="2" col="1" class="saudi-dot"></Label>
    </GridLayout>

    <!-- Wing 1 -->
    <GridLayout class="saudi-wing" width="46" height="16" verticalAlignment="middle">
        <StackLayout class="wing-arch" horizontalAlignment="left" verticalAlignment="top"></StackLayout>
        <StackLayout class="wing-chevron" horizontalAlignment="center" verticalAlignment="bottom"></StackLayout>
        <StackLayout class="wing-arch" horizontalAlignment="right" verticalAlignment="top"></StackLayout>
    </GridLayout>

    <!-- Dot Cluster 2 -->
    <GridLayout class="saudi-dots" width="22" height="22" rows="*,*,*" columns="*,*,*" verticalAlignment="middle">
        <Label row="0" col="1" class="saudi-dot"></Label>
        <Label row="1" col="0" class="saudi-dot"></Label>
        <Label row="1" col="2" class="saudi-dot"></Label>
        <Label row="2" col="1" class="saudi-dot"></Label>
    </GridLayout>

    <!-- Wing 2 -->
    <GridLayout class="saudi-wing" width="46" height="16" verticalAlignment="middle">
        <StackLayout class="wing-arch" horizontalAlignment="left" verticalAlignment="top"></StackLayout>
        <StackLayout class="wing-chevron" horizontalAlignment="center" verticalAlignment="bottom"></StackLayout>
        <StackLayout class="wing-arch" horizontalAlignment="right" verticalAlignment="top"></StackLayout>
    </GridLayout>

    <!-- Dot Cluster 3 -->
    <GridLayout class="saudi-dots" width="22" height="22" rows="*,*,*" columns="*,*,*" verticalAlignment="middle">
        <Label row="0" col="1" class="saudi-dot"></Label>
        <Label row="1" col="0" class="saudi-dot"></Label>
        <Label row="1" col="2" class="saudi-dot"></Label>
        <Label row="2" col="1" class="saudi-dot"></Label>
    </GridLayout>
</StackLayout>
