<GridLayout class="view" >
    
    <ActionBar  visability="collapsed"  class="view" title="">   </ActionBar>    

    <ScrollView  scrollBarIndicatorVisible="false">
      
      <StackLayout>
        <FlexboxLayout flexDirection="row-reverse" style="margin-top: 45;"  alignItems="center" justifyContent="flex-end" (tap)="goBack()">
            <label  text="{{'Back'| L}}"  style="font-size: 16px; color: #1056A5; font-weight: 500; margin-left: 5;"></label>
            <Image src="~/images/back.png" width="18" class="" ></Image>
        </FlexboxLayout>

        <StackLayout class="forget-back" >
            <!-- <label text="&#xf023;" class="fas forget-icon" ></label> -->
            <Image src="~/images/lock.png" width="50" class="" ></Image>

        </StackLayout>

        <StackLayout>
          <label   text="{{'changepassword'| L}}" class="sign-label" style="margin-bottom: 0;"></label>
          <label   text="{{'changepasstext'| L}}" class="forget-text"></label>

        </StackLayout>

        <StackLayout>
            <label  text="{{'newpassword'| L}}" class="form-label"></label>
            <TextField [ngClass]="submitted && new.invalid?'error' :''" #new="ngModel" [(ngModel)]="newPassword" required hint="{{'newpassword'| L}}" style="placeholder-color:#989BAD" secure="true" name="password" [pattern]="passwordRegex" ></TextField>
            <Label class="valid-mess" text="{{'StrongPassword' | L}}" *ngIf="!new.valid &&new.dirty"></Label>
            
            <label  text="{{'passwordVerifynew' | L}}" class="form-label"></label>
            <TextField [ngClass]="submitted && confirm.invalid?'error' :''"  #confirm="ngModel" [(ngModel)]="confirmPassword" required hint="{{'passwordVerifyHint' | L}}" style="placeholder-color:#989BAD" secure="true"  name="passwordVerify" ></TextField>
            <Label class="valid-mess" *ngIf="(new.value !== confirm.value) && confirm.dirty" text="{{'ConfirmPasswordDoesNotMatchPassword' |L}}"></Label>  

            <label  text="{{'oldpassword'| L}}" class="form-label"></label>
            <TextField [ngClass]="submitted && old.invalid?'error' :''" [(ngModel)]="oldPassword" #old="ngModel" required  hint="{{'oldpassword'| L}}" style="placeholder-color:#989BAD" secure="true" class="" name="oldpassword" ></TextField>

            <Button  text="{{'resetpass'| L}}" style="margin-top: 20;" class="login-btn" (tap)="changePassword(new.valid && old.valid && (new.value === confirm.value))" ></Button>

        </StackLayout>

          <StackLayout>
          </StackLayout>
  
  
  
      </StackLayout>
    </ScrollView>
  </GridLayout>