@import './saudi-theme.css';

.whiteback,
.saudi-home,
.page-layout {
  background-color: #FFFFFF;
}

.fav-icon {
  text-shadow: 0 0 1 2 #166A45;
}

.album-image {
  background-position: center center;
  background-size: cover;
}
